<div class="w-full rounded-full text-center <%= page != @page ? 'bg-gray-500 text-gray-300 hover:bg-slate-500 hover:text-slate-200 hover:font-bold' : 'bg-gray-400 text-gray-200 font-bold' %>">
  <%= page != @page ? (link_to page, path) : page %>
</div>
<br>