
<div class="w-1/6 bg-gray-800">
  <div class="p-2">
    <h1 class="flex-item text-center rounded bg-gray-700 text-white font-serif italic">Asset Manager</h1>
  </div>
  <div class="p-2">
    <%= render partial: 'shared/nav_btn', locals: { page: 'Assets', path: business_assets_path } %>
    <%= render partial: 'shared/nav_btn', locals: { page: 'Companies', path: companies_path } %>
    <%= render partial: 'shared/nav_btn', locals: { page: 'Settings', path: home_path } %>
    <div class="w-full rounded-full text-center bg-gray-500 text-gray-300 hover:bg-slate-500 hover:text-slate-200 hover:font-bold">
      <%= link_to 'Sign Out', destroy_user_session_path, data: { turbo_method: :delete } %>
    </div>
  </div>
</div>