<% @companies.each do |company| %>
  <a href="<%= company_path(company) %>"> <%= company.name %> </a>
  <% company.employees.each do |employee| %>
    <p> <%= employee.first_name %> </p>
  <% end %>
<% end %>